<div class="d-flex justify-content-center align-items-center flex-column gap-x-3">
    <h1 class="m-1" style="color:#8B4513;">BISLERIUM CAFE</h1>
    <marquee behavior="scroll" direction="left" class="m-2" style="color: #4A2B13; font-family: 'Fantasy', sans-serif; font-size: 24px;">
        Brewing Brilliance !!! Coffee That Stays In Your Heart And Mind !!!
    </marquee>
</div>

