@inject CoffeeServices CoffeeServices
@inject AddInsServices AddInItemServices
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager

<MudDialog>
    <DialogContent>

        @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <MudAlert Severity="Severity.Error">@_errorMessage</MudAlert>
        }


        <div style="width:500px;" class="d-flex flex-column gap-y-3">
            <MudTextField @bind-Value="_currentPassword" Label="Current Password" Variant="Variant.Outlined" InputType="@InputType.Password"></MudTextField>
            <MudTextField @bind-Value="_addInItemName" Label="Add-In Item Name" Variant="Variant.Outlined"></MudTextField>
            <MudTextField @bind-Value="_price" Label="Price" Variant="Variant.Outlined" InputType="@InputType.Number"></MudTextField>
            
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Warning" OnClick="handleAddAddInItem">Add Item</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public GlobalState _globalState { get; set; }
    [Parameter] public Action ChangeParentState { get; set; }

    private string _errorMessage { get; set; } = "";

    private string _addInItemName { get; set; }
    private double _price { get; set; }

    private string _currentPassword { get; set; }

    private void closeDialogBox() => MudDialog.Close(DialogResult.Ok(true));

    private void Cancel() => MudDialog.Cancel();

    private async Task handleAddAddInItem()
    {
        try
        {
            if (String.IsNullOrEmpty(_currentPassword))
            {
                _errorMessage = "Please enter your current password";
                return;
            }

            if (String.IsNullOrEmpty(_addInItemName))
            {
                _errorMessage = "Please enter Item Name";
                return;
            }

            if (_price <= 0)
            {
                _errorMessage = "Please enter valid price";
                return;
            }

            if (_currentPassword != _globalState.CurrentUser.Password)
            {
                _errorMessage = "Invalid current password";
                return;
            }

            AddInItemServices.AddAddInItem(_addInItemName, Math.Round(_price, 2));

            ChangeParentState.Invoke();

            _errorMessage = "";
            closeDialogBox();
            Snackbar.Add("Item is Added Sucessfully", Severity.Warning);

        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }
}